<%- include ("partials/header") %>

    <head>
        <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <div class="container main-area">
        <div class="row">
            <div class="col-md-3 main-sidebar">
                <div class="row sidebar-area">
                    <img class="sidebar-image" src="/images/events/avatars/default.png" alt="">
                </div>
                <div class="row sidebar-event-info">
                    <div class="sidebar-title">
                        <h3>
                            <%= locals.info %>
                        </h3>
                        <% if(eventInfo.ownerId==currentUser.id){ %>
                            <a href=""><i class="fas fa-pen"></i><%= locals.edit %> </a>
                            <% } %>
                    </div>
                    <div class="row event-info">
                        <ul class="info-title">
                            <li class="info-sub">
                                <% 
                                    switch (locals.language) {
                                   case "es":
                                        locale = "es-ES";
                                        break;
                                      default:
                                        locale = "en-US";
                                          } 
                                    var options = {weekday:"short", day: 'numeric', month: 'short',year:"numeric" };
                                    var newdate = eventInfo.target.toLocaleDateString("en-GB", options); 
                                    %>
                                    <p class="col-md-4">
                                        <%= locals.date %>
                                    </p>
                                    <span class="col-md-8"><%= newdate %></span>
                            </li>
                            <li class="info-sub">
                                <p class="col-md-4">
                                    <%= locals.time %>
                                </p>
                                <%if (!eventInfo.allday) {var hour=eventInfo.target.toLocaleTimeString("en-GB",{hour: "numeric", minute: "numeric"});%>
                                    <span class="col-md-8"><%= hour  %></span>
                                    <% }else{ %>
                                        <span class="col-md-8"><%= locals.allday %> </span>
                                        <% } %>
                            </li>
                            <li class="info-sub">
                                <p class="col-md-4">
                                    <%= locals.place %>
                                </p>

                                <span class="col-md-8"> <%= eventInfo.place %></span>
                            </li>
                            <% if(eventInfo.direction){ %>
                                <li class="info-sub">
                                    <p class="col-md-4">
                                        <%= locals.direction %>
                                    </p>
                                    <span class="col-md-8"><a href="" id="event-place"></a></span>
                                </li>
                                <% } %>
                                    <% if(eventInfo.webpage){ %>
                                        <li class="info-sub">
                                            <p class="col-md-4">
                                                <%= locals.webpage %>
                                            </p>
                                            <span class="col-md-8"><a href="<%=eventInfo.webpage %>"><%= eventInfo.webpage %></a></span>

                                        </li>
                                        <% } %>
                                            <% if(eventInfo.phone){ %>
                                                <li class="info-sub">
                                                    <p class="col-md-4">
                                                        <%= locals.phone %>
                                                    </p>
                                                    <span class="col-md-8"><%= eventInfo.phone %> </span>
                                                </li>
                                                <% } %>
                        </ul>
                        <% if(eventInfo.direction){ %>
                            <div class="event-map" id="mapContainer">
                                <div id="eventlocation" data-location="<%= eventInfo.direction %>"></div>
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>
            <div class="col-md-9 main-post-area">
                <div class="row">
                    <div class="col-md-9">
                        <div class="title-wrapper">
                            <h2 class="event-title" data-id="<%= eventInfo.id %>">
                                <%= eventInfo.name %>
                            </h2>
                            <p class="event-duration">
                                <%= newdate %>
                                    <% if (eventInfo.allday) { %>
                                        ,
                                        <%= locals.allday %>
                                            <% } %>
                            </p>
                        </div>
                        <div class="category-title-wrapper">
                            <div class="category-title">
                                <h3>
                                    <%= locals.desc %>
                                </h3>
                            </div>
                            <% if(eventInfo.ownerId==currentUser.id){ %>
                                <a href=""><i class="fas fa-pen"></i><%= locals.edit %> </a>
                                <% } %>
                        </div>
                        <p class="event-description">
                            <%= eventInfo.description %>
                        </p>
                        <div class="category-title-wrapper no-bottom-line">
                            <div class="category-title">
                                <h3>
                                    <%= locals.eventwall %>
                                </h3>
                            </div>
                        </div>
                        <form class="new-post box" action="" method="post">
                            <img class="box" src="/images/users/avatars/<%= currentUser.avatar %>.png" alt="">
                            <textarea class="form-control" oninput="auto_grow(this)" name="Text1" rows="1" placeholder="<%= locals.writehere %> "></textarea>
                        </form>
                        <p class="no-posts">
                            <%= locals.noposts %>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <div class="right-sidebar-title">
                            <%= locals.participants %>
                        </div>
                        <% if(eventInfo.ownerId==currentUser.id){ %>
                            <div class="btn invite-friends">
                                <i class="fas fa-user"></i>
                                <p>
                                    <%= locals.invitefriends %>
                                </p>
                            </div>
                            <% } %>
                                <div class="box event-notifications">
                                    <form action="/changenotifs/<%= eventInfo.id %> " method="post" id="notif-form">
                                        <p><i class="fas fa-caret-right"></i>
                                            <%= locals.notifications %>
                                        </p>
                                        <label class="switch">
                                            <% if(eventInfo.relation.notifications){ %> 
                                    <input checked id="togglenotifs" type="checkbox" name="notifs">
                                            <%  }else{  %>
                                    <input id="togglenotifs" type="checkbox" name="notifs">
                                            <% } %> 
                                        <div class="slider"></div>
                                  </label>
                                        <div class="lds-ring" hidden>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </form>
                                </div>
                                <p class="right-sidebar-title-2">
                                    <%= locals.assistance %>
                                </p>
                                <div class="">
                                    <div class="stat-buttons">
                                        <div id="assist-yes" class="btn">
                                            <%= locals.yes %>
                                                <% if (eventInfo.relation.promise=="yes") { %>
                                                    <div class="btn-badge"><i class="fas fa-check"></i></div>
                                                    <% }else{ %>
                                                        <div hidden class="btn-badge"><i class="fas fa-check"></i></div>
                                                        <% } %>
                                        </div>

                                        <div id="assist-maybe" class="btn">
                                            <%= locals.maybe %>
                                                <% if (eventInfo.relation.promise=="maybe") { %>
                                                    <div class="btn-badge"><i class="fas fa-check"></i></div>
                                                    <% }else{ %>
                                                        <div hidden class="btn-badge"><i class="fas fa-check"></i></div>
                                                        <% } %>
                                        </div>
                                        <div id="assist-no" class="btn">
                                            <%= locals.no %>
                                                <% if (eventInfo.relation.promise=="no") { %>
                                                    <div class="btn-badge"><i class="fas fa-check"></i></div>
                                                    <% }else{ %>
                                                        <div hidden class="btn-badge"><i class="fas fa-check"></i></div>
                                                        <% } %>
                                        </div>
                                    </div>
                                </div>
                                <div class="event-stats">
                                    <% var max =Math.max(eventInfo.guests.stats.yes,eventInfo.guests.stats.und,eventInfo.guests.stats.maybe); 
                                    var yes = eventInfo.guests.stats.yes*100/max*0.64;
                                    var maybe = eventInfo.guests.stats.maybe*100/max*0.64;
                                    var und = eventInfo.guests.stats.und*100/max*0.64;
                                    if(yes==0){yes=1;}if(und==0){und=1;}if(maybe==0){maybe=1;}
                                    var guests = {yes,maybe,und};
                                    %>
                                        <div class="chart">
                                            <p class="chart-value">
                                                <%= eventInfo.guests.stats.yes %>
                                            </p>
                                            <div class="chart-data" style="background:#84A1BE" id="chart-yes" data-value="<%= guests.yes %>">&nbsp;</div>
                                            <div class="chart-label">
                                                <p>
                                                    <%= locals.willgo %>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="chart">
                                            <p class="chart-value">
                                                <%= eventInfo.guests.stats.maybe %>
                                            </p>
                                            <div class="chart-data" style="background:#84A1BE" id="chart-maybe" data-value="<%= guests.maybe %>">&nbsp;</div>
                                            <div class="chart-label">
                                                <p>
                                                    <%= locals.maybego %>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="chart">
                                            <p class="chart-value">
                                                <%= eventInfo.guests.stats.und %>
                                            </p>
                                            <div class="chart-data" style="background:#CED7E8;" id="chart-und" data-value="<%= guests.und %>">&nbsp;</div>
                                            <div class="chart-label">
                                                <p>
                                                    <%= locals.noresponse %>
                                                </p>
                                            </div>
                                        </div>
                                </div>
                                <p class="right-sidebar-title-2">
                                    <%= locals.assistants %>
                                </p>
                                <ul class="user-images">
                                    <% eventInfo.guests.users.slice(-6).forEach(guest => { %>
                                        <li class="user-photo">
                                            <a class="sidebar-user" href="/user/<%= guest.id %> ">
                                                    <img src="/images/users/avatars/<%= guest.avatar %>.png" alt="">
                                                    <p><%= guest.firstname+" "+guest.lastname %></p>
                                                </a>
                                        </li>
                                        <% }) %>
                                </ul>
                                <a class="all-events" href="">
                                    <%= locals.seall %>
                                </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        fillChart();
        generateMap();

        //Enable Event Notifications
        $('#togglenotifs').click(function() {
            delayInMilliseconds = 500;
            setTimeout(function() {
                loading("#notif-form", toggleNotifs, undefined);
            }, delayInMilliseconds);
        });

        $("#assist-yes").click(function(e) {
            e.preventDefault();
            if ($("#assist-yes .btn-badge").attr("hidden") == "hidden") {
                $(".btn-badge").attr("hidden", "hidden");
                $("#assist-yes .btn-badge").removeAttr("hidden");
                loading(".stat-buttons", changeAssist, "yes");
            }
        });

        $("#assist-maybe").click(function(e) {
            e.preventDefault();
            if ($("#assist-maybe .btn-badge").attr("hidden") == "hidden") {
                $(".btn-badge").attr("hidden", "hidden");
                $("#assist-maybe .btn-badge").removeAttr("hidden");
                loading(".stat-buttons", changeAssist, "maybe");
            }
        });

        $("#assist-no").click(function(e) {
            e.preventDefault();
            if ($("#assist-no .btn-badge").attr("hidden") == "hidden") {
                $(".btn-badge").attr("hidden", "hidden");
                $("#assist-no .btn-badge").removeAttr("hidden");
                loading(".stat-buttons", changeAssist, "no");
            }
        });

        function toggleNotifs() {
            var eventId = $(".event-title").data("id");
            var url = "/changenotifs/" + eventId;
            $.ajax({
                global: false,
                type: 'POST',
                url,
                dataType: 'html'
            });
        }

        function changeAssist(value) {
            var eventId = $(".event-title").data("id");
            var url = "/changeassist/" + eventId;
            $.ajax({
                global: false,
                type: 'POST',
                url,
                dataType: 'html',
                data: {
                    newassist: value
                }
            });
        }

        function loading(object, func, params) {
            var loadbox = document.createElement("div")
            loadbox.innerHTML = "<div></div><div></div><div></div><div></div>";
            loadbox.classList.add("lds-ring");
            delayInMilliseconds = 2500;
            $(object).attr("hidden", "true");
            $(object).parent().append(loadbox);
            setTimeout(function() {
                $(object).removeAttr("hidden");
                loadbox.remove();
                func(params);
            }, delayInMilliseconds);
        }

        function auto_grow(element) {
            element.style.height = "5px";
            element.style.height = (element.scrollHeight) + "px";
        }

        async function generateMap() {
            var platform = new H.service.Platform({
                'apikey': "<%= mapsAPI  %>"
            });
            var maptypes = platform.createDefaultLayers();
            var position, map;
            var id = document.getElementById('eventlocation').dataset.location;
            var position = fetch("https://places.ls.hereapi.com/places/v1/places/" + id + ";context=Zmxvdy1pZD00MWRlODZhZS1lNTdmLTU2ZTctODUwZi0yOTc3YWNkM2MwYjZfMTYwNjIzNDQ1NzU1NV8wXzU3MDMmc2l6ZT01JlgtRldELUFQUC1JRD1DUUxpQk1WZGR6QWhNMEFYR3lqMyZYLU5MUC1UZXN0aW5nPTE?app_id=CQLiBMVddzAhM0AXGyj3&app_code=rgMn3ijQdDxQ6vXa9CevXQ")
                .then(response => response.json())
                .then(function(json) {
                    $("#event-place").attr("href", json.view).text(json.name);
                    $("#event-location").text(json.location.address.city + ", " + json.location.address.county);

                    map = new H.Map(
                        document.getElementById('mapContainer'),
                        maptypes.vector.normal.map, {
                            zoom: 16,
                            center: {
                                lng: json.location.position[1],
                                lat: json.location.position[0]
                            }
                        });
                    position = json.location.position;
                });
            window.onload = async function() {
                var pos = await position;
                var icon = new H.map.Icon('/images/marker.png', {
                    size: {
                        w: 45,
                        h: 45
                    }
                });
                var Marker = new H.map.Marker({
                    lat: position[0],
                    lng: position[1]
                }, {
                    icon: icon
                });
                map.addObject(Marker);
                $(".H_imprint").remove();
            }
        }

        function fillChart() {
            $("#chart-yes").css("height", $("#chart-yes").data("value") + "%");
            $("#chart-und").css("height", $("#chart-und").data("value") + "%");
            $("#chart-maybe").css("height", $("#chart-maybe").data("value") + "%");
        }
    </script>
    </body>

    </html>