<%- include ("partials/header") %>

    <head>
        <title>
        </title>
    </head>

    <div class="container main-area">

        <div class="row">
            <div class="col-md-3 main-sidebar">
                <div class="row sidebar-area">
                    <img class="sidebar-image" src="/images/events/avatars/default.png" alt="">
                </div>
                <div class="row sidebar-event-info">
                    <div class="sidebar-title">
                        <h3>
                            <%= locals.info %>
                        </h3>
                    </div>
                    <div class="row event-info">
                        <ul class="info-title">
                            <li class="info-sub" id="event-date">
                                <p class="col-md-4">
                                    <%= locals.date %>
                                </p>
                                <span class="col-md-8" data-value=" "></span>
                            </li>
                            <li class="info-sub">
                                <p class="col-md-4">
                                    <%= locals.time %>
                                </p>
                                <span class="col-md-8"><%= locals.allday %> </span>
                            </li>
                            <li class="info-sub">
                                <p class="col-md-4">
                                    <%= locals.place %>
                                </p>

                                <span class="col-md-8"> </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sidebar-item">
                    <p class="sidebar-title-2">Creado por</p>
                    <div class="item-box">
                        <a href="/user/">
                            <img class="box" src="/images/users/avatars/default.png" alt="">
                        </a>
                        <div class="user-box">
                            <a href="/user/ " class="user-name">
                            </a>
                            <p class="user-date">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 main-post-area">
                <div class="row">
                    <div class="col-md-9">
                        <div class="title-wrapper">
                            <h2 class="event-title" data-id="">
                                <span>
                                    <%= locals.allday %>
                                    </span>
                            </h2>
                        </div>
                        <div class="category-title-wrapper">
                            <div class="category-title">
                                <h3>
                                    <%= locals.desc %>
                                </h3>
                            </div>
                        </div>
                        <p class="event-description">
                        </p>
                        <form hidden class="event-description" action="/event/edit" method="post">
                            <textarea class="form-control" oninput="auto_grow(this)" name="newdesc"></textarea>
                            <div class="event-desc-btns">
                                <button id="cancel-edit" type="button" class="btn btn-gray">Cancelar</button>
                                <input type="submit" value="<%= locals.submit %> " class="btn btn-blue">
                            </div>
                        </form>
                        <div class="category-title-wrapper no-bottom-line">
                            <div class="category-title">
                                <h3>
                                    <%= locals.eventwall %>
                                </h3>
                            </div>
                        </div>
                        <form class="new-post box" action="" method="post">
                            <img class="box" src="/images/users/avatars/<%= currentUser.avatar %>.png" alt="">
                            <textarea class="form-control" oninput="auto_grow(this)" name="Text1" rows="1" placeholder="<%= locals.writehere %> "></textarea>
                        </form>
                        <p class="no-posts">
                            <%= locals.noposts %>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <div class="right-sidebar-title">
                            <%= locals.participants %>
                        </div>
                        <p class="right-sidebar-title-2">
                            <%= locals.assistants %>
                        </p>
                        <a class="all-events" href="">
                            <%= locals.seall %>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div hidden class="blurred"></div>
    </div>
    <script>
        fillChart();

        $(".stat-buttons").submit(function() {
            console.log($(this).serializeArray());
        })

        //Enable Event Notifications
        $('#togglenotifs').click(function() {
            delayInMilliseconds = 500;
            setTimeout(function() {
                loading("#notif-form", toggleNotifs, undefined);
            }, delayInMilliseconds);
        });

        $(document).on("click ", ".close-btn ", function(e) {
            e.preventDefault();
            $(this).parent().css("height", "0%");
            $(".blurred").css("opacity", "0");
            setTimeout(function() {
                $(".edit-window").remove();
                $(".blurred").attr("hidden", "hidden");
            }, 250);
        });

        $(document).on("change", ".option", function(e) {
            e.preventDefault();
            var input = $("#newdate");
            var value = input.val();
            if (input.attr("type") == "date") {
                value = value + "T00:00";
                input.attr("type", "datetime-local");
                input.val(value);
            } else {
                value = value.substring(0, 10);
                input.attr("type", "date");
                input.val(value);
            }
        });

        $("#edit-description").click(function(e) {
            e.preventDefault();
            $("p.event-description").attr("hidden", "hidden");
            $("form.event-description").removeAttr("hidden");
            var area = document.querySelector(".event-description textarea");
            auto_grow(area);
        })

        $("#cancel-edit").click(function(e) {
            $("p.event-description").removeAttr("hidden")
            $("form.event-description").attr("hidden", "hidden");
        });

        function toggleNotifs() {
            var eventId = $(".event-title").data("id");
            var url = "/event/" + eventId + "/changenotifs";
            $.ajax({
                global: false,
                type: 'POST',
                url,
                dataType: 'html'
            });
        }

        function convertDate(oldFormat, format) {
            var options = {
                year: "numeric",
                month: "2-digit",
                day: "2-digit",
                hour: "2-digit",
                minute: "2-digit"
            };
            var newFormat = new Date(oldFormat).toLocaleString("es-ES", options).split(/[/ :]/);
            if (format == "date") {
                return (newFormat[2] + "-" + newFormat[1] + "-" + newFormat[0]);
            } else {
                return (newFormat[2] + "-" + newFormat[1] + "-" + newFormat[0] + "T" + newFormat[3] + ":" + newFormat[4]);
            }
        }

        function changeAssist(value) {
            var eventId = $(".event-title").data("id");
            var url = "/event/" + eventId + "/changeassist";
            $.ajax({
                global: false,
                type: 'POST',
                url,
                dataType: 'html',
                data: {
                    newassist: value
                }
            });
        }

        function loading(object, func, params) {
            var loadbox = document.createElement("div")
            loadbox.innerHTML = "<div></div><div></div><div></div><div></div>";
            loadbox.classList.add("lds-ring");
            delayInMilliseconds = 2500;
            $(object).attr("hidden", "true");
            $(object).parent().append(loadbox);
            setTimeout(function() {
                $(object).removeAttr("hidden");
                loadbox.remove();
                func(params);
            }, delayInMilliseconds);
        }

        function auto_grow(element) {
            element.style.height = "5px";
            element.style.height = (element.scrollHeight) + "px";
        }

        function fillChart() {
            $("#chart-yes").css("height", $("#chart-yes").data("value") + "%");
            $("#chart-und").css("height", $("#chart-und").data("value") + "%");
            $("#chart-maybe").css("height", $("#chart-maybe").data("value") + "%");
        }
    </script>
    </body>

    </html>